# SPDX-FileCopyrightText: Copyright (c) Orange SA, Pierre-Yves Lapersonne
# SPDX-License-Identifier: MIT

# Items ordered with the same order as used in GitHub web UI
# Items splitted by owners groups

# Project folders

/.github/ @pylapp

/MISO/ @pylapp @ludovic35
/DesignToolbox/ @pylapp @ludovic35

/scripts/ @pylapp @ludovic35

# Utility files

.gitattributes @pylapp @ludovic35
.gitignore @pylapp @ludovic35

.gitleaks.toml @pylapp
.swiftformat @pylapp

.swiftlint.yml @pylapp @ludovic35

CHANGELOG.md @ludovic35 @pylapp

Gemfile @pylapp @ludovic35
Gemfile.lock @pylapp @ludovic35

LICENSE @pylapp

NOTICE.txt @pylapp @ludovic35
Package.resolved @pylapp @ludovic35
Package.swift @pylapp @ludovic35

README.md @ludovic35 @pylapp

AGENTS.md @pylapp
THIRD_PARTY.md @pylapp
renovate.json @pylapp