# SPDX-FileCopyrightText: Copyright (c) Orange SA, Pierre-Yves Lapersonne
# SPDX-License-Identifier: MIT

# Classic
*~
.DS_Store
**/.DS_Store

# Produced by tool generating documentation, should be versionined in gh-pages branch
/.build/

# Produced by Brew
/Brewfile.lock.json

# Produced by Xcode
/DerivedData/

# Produced by Swift Package Manager
/.swiftpm/xcode/xcshareddata/
/.swiftpm/xcode/xcuserdata/
/.swiftpm/xcode/package.xcworkspace/

# Produced by Fastlane
**/fastlane/*.env
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/**/*.png
**/fastlane/test_output

# Produced by .gitlab-ci.yml
/.cache/
