# SPDX-FileCopyrightText: Copyright (c) Orange SA, Pierre-Yves Lapersonne
# SPDX-License-Identifier: MIT

--swiftversion 6.3

--exclude Resources/CodeGen/**,Pods/**

--disable blankLinesAroundMark,blankLinesAtStartOfScope,redundantRawValues,modifierOrder

--closingparen same-line
--decimalgrouping 3,4
--extensionacl on-declarations
--ifdef no-indent
--semicolons never
--stripunusedargs closure-only
